/*模态模态框*/
.m_push_mt{width: 100%;background: rgba(0,0,0,0.5);position: absolute;z-index: 20;display: none;height: auto;overflow: scroll;}   
/*模态模态框表单*/
.m_push_mt_from{height: auto;width: 800px;position: absolute;background: #fff;padding-bottom: 20px;left: 15%;} 
/*模态框里的照片*/
.m_push_mt_img{width: 350px;height: 160px;margin-top: 10px;}
