			.releaselist{height: 3.5rem;overflow: hidden;margin-top: 1rem;}
			.releaselist img{height: 100%;}
			.releaselist>div{float: left;height: 100%;}
			.releaselist>div:nth-child(1){width: 30%;border-right: 1px solid #E3E3E3;text-align: center;display: table-cell;}
			.releaselist>div:nth-child(2){width: 70%;height: 100%;} 
			.releaselist a{display: inline-block;padding: .2rem 1rem;font-size: .7rem;color: #191919;margin: 4%;
			background: #FAFAFA;}
			 
			.nav-tab{position: relative;}
			.nav-tab > div {font-size: .8rem;padding: .3rem .5rem;float: left;border-bottom: 1px solid #fff;cursor: pointer;}
			.nav-tab {margin: .5rem auto;}
			.nav-tab span,.nav-tab a{display: inline-block;position: absolute;border: 1px solid #C3C3C3;right: 0;font-size: .7rem;padding: .1rem .5rem;}
			.nav-tab a{color: #191919;right: 3.5rem;}

			#con>.content{display: none;margin-bottom: 5rem;}
			#con>.content:nth-child(1){display: block;} 
			.tab li{overflow: hidden;border-bottom: 1px solid #E3E3E3;}
			.tab label{display: block;overflow: hidden;}
			.tab a{color: #191919;display: block;}
			.tab>div li:nth-child(1){background: #F5F5F5;} 
			.tab li div{float: left;font-size: .8rem;line-height: 2rem;text-align: center;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;width: 100%;}
			.tab>div li div:nth-child(1){display: none;}
			.tab>div li div:nth-child(1){text-align: left;text-indent: .2rem;}
			.tab ul{border: 1px solid #E3E3E3;border-bottom: none !important;}
			.tab  input[type=checkbox]{vertical-align: middle;} 
			.tab div li:last-child{display: none;}/*隐藏最后一个*/
			.sel{background: #F5F5F5;}/*被选中的颜色*/
			.nothing{font-size: .8rem;line-height: 2rem;display: none;}
			
			.tab>div{display: none;}
			.tab > div:nth-child(1){display: block}
			
			.more_a{margin-bottom: 3rem;}